@keyframes spin {
  from {
    transform: rotateY(0);
  } to {
      transform: rotateY(720deg);
    }
}

.coin {
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.coin img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.heads {
  transform-style: preserve-3d;
}

.tails {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.spinning {
  animation: spin 1s linear infinite;
}

.rotated {
  transform: rotateY(-180deg);
}


